name: Publish to JFrog Artifactory

on:
  push:
    branches:
      - main


jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JFrog CLI
        uses: jfrog/setup-jfrog-cli@v2
        with:
          version: 'latest'

      - name: Configure JFrog CLI with username and password
        env:
          JFROG_URL: ${{ secrets.JFROG_URL }}
          JFROG_USERNAME: ${{ secrets.JFROG_USERNAME }}
          JFROG_PASSWORD: ${{ secrets.JFROG_PASSWORD }}
        run: |
          jfrog config add artifactory --url=$JFROG_URL --user=$JFROG_USERNAME --password=$JFROG_PASSWORD

      - name: Upload artifact to Artifactory
        run: |
          jfrog rt upload "terraform_1.9.6_windows_386.zip" "terraform_1.9.6_windows_386"
